.credit-score-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #1E1E1E;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #000;
  }
  
  .form-heading {
    font-size: 20px;
    color: #FFFF;
    margin-bottom: 20px;
  }
  
  .credit-score-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFFF;
  }
  
  .credit-score-input {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000;
    background-color: #C2C2C2;
  }
  
  .credit-score-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #D5FF0A;
    color: #1E1E1E;
    cursor: pointer;
  }
  
  .credit-score-button:hover {
    background: #BDEE07;
  }
  
  .info-text {
    font-size: 12px;
    color: #D5FF0A;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .predicted-score-container {
    margin-top: 20px;
    padding: 20px;
    background: #1E1E1E;
    border-radius: 4px;
    border: 1px solid #1E1E1E;
  }
  
  .predicted-score-h3 {
    color: #FFF;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .predicted-score {
    font-size: 24px;
    color: #D5FF0A;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
  }