/* KYC.css */

.kyc-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #1E1E1E;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #000;
  }
  
  .kyc-form {
    text-align: center;
  }
  
  .form-heading {
    font-size: 20px;
    color: #FFFF;
    margin-bottom: 20px;
  }
  
  .kyc-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFFF;
  }
  
  .kyc-input {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000;
    background-color: #C2C2C2;
  }
  
  .kyc-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #D5FF0A;
    color: #1E1E1E;
    cursor: pointer;
  }
  
  .kyc-button:hover {
    background: #BDEE07;
  }
  
  .info-text {
    font-size: 12px;
    color: #D5FF0A;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .table-container {
    margin-top: 20px;
    padding: 20px;
    background: #1E1E1E;
    border-radius: 4px;
    border: 1px solid #1E1E1E;
  }
  
  .kyc-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .kyc-table th,
  .kyc-table td {
    padding: 8px;
    background-color: #333;
    border: 1px solid #000;
    color: white;
  }
  
  .kyc-table th {
    background-color: #333;
    font-weight: bold;
  }
  
  .kyc-h3 {
    color: #FFF; /* Set the text color to white */
    font-size: 18px;
    margin-top: 20px;
  }
  .logo-kyc {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 180px; /* Adjust the width as needed */
  }