/* src/components/TransferForm.css */

.transfer-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 4px;
  color: #D4D4D4;
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.transfer-form h2 {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.transfer-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 10px;
  color: #FFFFFF;
}

.transfer-form input {
  width: 45%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #C2C2C2;
  color: black;
}

.transfer-form button {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  background-color: #D5FF0A;
  color: #1E1E1E;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.transfer-form button:hover {
  background-color: #D5FF0A;
}

.form-heading {
  font-size: 16px;
}

.form-section {
  margin-top: 20px;
}

.input-label {
  text-align: center;
  margin-bottom: 8px;
}

.input-field {
  text-align: center;
}

.submit-button {
  margin-top: 16px;
}

#logoRepay {
  max-width: 180px; /* Adjust the width as needed */
}

.logo {
  max-width: 180px; /* Adjust the width as needed */
}