.App {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: #3E3C3C;
}

.nav-links {
  display: flex;
  justify-content: center; /* Center the navigation items horizontally */
  list-style: none;
  padding: 0; /* Remove unnecessary padding */
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background-color: #D5FF0A;
  color: #1E1E1E;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 10px;
  cursor: pointer;
}

.view-container {
  margin-top: 20px;
  margin-bottom: 20px;
}








.logoHm {
  /* Set the desired width and/or height */
  width: 140px; /* Adjust the value as needed */
  height: auto; /* This ensures the aspect ratio is maintained */
  
  /* You can also use only one of width or height, and the other will adjust automatically */
  
  /* Add any other styles for the logo */
}

.logo-containerHm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}