.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #1E1E1E;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #000;
}

.label {
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.input {
  width: 80%;
  padding: 8px;
  margin: 8px auto; /* Center the input horizontally */
  border-radius: 4px;
  border: 1px solid #000;
  box-sizing: border-box;
}


.button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background: #D5FF0A;
  color: #1E1E1E;
  cursor: pointer;
}

.userfeedback{
  text-align: left;
  color: #D5FF0A;
}

.result-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  background-color: #363636;
  color: #FFFFFF;
}

.result-table td {
  padding: 8px;
  border: 1px solid #000;
}

.result-table p {
  margin: 0;
}


