/* src/components/TransferForm.css */

.transfer-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 4px;
  color: #D4D4D4;
  text-align: center; /* Center the content horizontally */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Use Helvetica Neue or fallback to Arial and sans-serif */
}

.transfer-form h2 {
  font-size: 16px; /* Increase the font size for the header text */
  color: #FFFFFF;
  margin-bottom: 16px; /* Add some spacing at the bottom */
}

.transfer-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 10px;
  color: #FFFFFF;
}

.transfer-form input {
  width: 45%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #C2C2C2; /* Change the background color to silver */
  color: black; /* Change text color to black or a readable color */
}

.transfer-form button {
  display: block;
  width: 50%; /* Set the button width to 50% */
  margin: 0 auto; /* Center the button horizontally */
  padding: 8px; /* Adjust padding */
  background-color: #D5FF0A;
  color: #1E1E1E;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.transfer-form button:hover {
  background-color: #D5FF0A;
}

.TableLabels {
  color: #D5FF0A;
}
